@{
    ViewBag.Title = "Contacto";
}
<br /><br />
<div class="text-center">
    <img src="~/Content/Images/logogodesa.png">
    <br />
    <h3 class="text-center">Nuestro trabajo es facilitar el tuyo</h3>
    <br />
    <h3>Programadores</h3>

    <p>Ponce, Mario Leonardo Nicolás</p>
    <p>Reyes, Mauricio Omar</p>
    <p>Sosa Fachinotti, Gabriel Hernán</p>

    <h3>Oficina</h3>
    <address>
        Brown 1337 - 1º piso - Resistencia, Chaco, Argentina <br/>
        <h3>Teléfonos</h3>

        <abbr title="Telefono">Cel:</abbr>
        +54 3625 194000
        <br />
        <abbr title="Telefono">Cel:</abbr>
        +54 3777 544623
        <br/>
        <abbr title="Telefono">Cel:</abbr>
        +54 3777 593194
    </address>
    <address>
        <strong>E-Mail:</strong>   <a href="mailto:godesasolutions@gmail.com">godesasolutions@gmail.com</a><br />
    </address>
   

</div>