@{
    ViewBag.Title = "Contact";
}
<br /><br />
<div class="text-center">
    <img src="~/Content/Images/logogodesa.png">
    <br />
    <h3 class="text-center">Nuestro trabajo es facilitar el tuyo</h3>
    <br />
    <h3>Programadores</h3>
    <p>Ponce, Mario Leonardo Nicolás</p>
    <p>Sosa Fachinotti, Gabriel Hernán</p>
    <p>Reyes, Mauricio Omar</p>
    <address>

        Vicente Lopez y Planes 1184<br />
        <abbr title="Telefono">Cel:</abbr>
        +54 3777 544623
    </address>
    <address>
        <strong>E-Mail:</strong>   <a href="mailto:godesasolutions@gmail.com">godesasolutions@gmail.com</a><br />

    </address>
    <br />
    <h5>Agradecemos su visita y le recordamos que todo nuestro personal se encuentra a su entera disposición. </h5>
    <br />


</div>