@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Sistema Minimercado Alfredo</h1>
    <h3 class="lead text-center">Sistema de administración de Productos de mercado</h3>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Módulo de Administración de Stock</h4>
        <br />
        <p>
            El Módulo de Administración de Productos mantendrá organizado información referente a su stock al mismo tiempo que le brindará la posibilidad de acceder a la información que necesite rápidamente, además de llevar un control eficiente del mismo, visualizando propiedades de interés que lo ayudarán a tomar correctas decisiones.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Products")">Productos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Módulo de Administración de Compras</h4>
        <br />
        <p>El Módulo de Administración de Compras le facilitará la tarea de supervisión sobre actualización de Stock y adquisición de nuevos Productos, conforme mantiene información detallada de sus Proveedores.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Purchases")">Compras &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Módulo de Administración de Ventas</h4>
        <br />
        <p>El Módulo de Administración de Ventas le proporcionará la información requerida acerca de sus Clientes y la Venta de sus Productos, ahorrandole tiempo y trabajo de facturación gracias a la posibilidad de generación de comprobantes de forma veloz, sencilla y segura.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Sales")">Ventas &raquo;</a></p>
    </div>
</div>